.love-category-parent h2 {
  padding-left: 0.5rem;
}
.love-category-wrap {
  display: flex;
  // justify-content: space-around;
  padding-left: 0.5rem;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow-x: scroll;
  gap: 20px;
}

//cards
.love-category-card-parent {
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 10px;
  width: 10rem;
  height: 11rem;
}

.love-category-card-name {
  text-align: center;
  font-weight: bold;
  padding: 0 3%;
  // white-space: nowrap;
 
}

.love-category-card-image {
  width: 10rem;
  // margin-left: -30px !important;
  margin-top: -20px !important;
 
  // background-color: #5c8258;
  // border-radius: 50px;
}
